@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
.wrapper{
	width:1900px;
}
.wrap{
	width:800px;
	margin: auto;
}
.logo_wrap{
	text-align: center;
	margin: 150px 0;
}
.logo_wrap>span{
	font-size:50px;
	font-weight: 900;
}